:root {
  --step--2: clamp(0.7rem, calc(0.87rem + -0.14vw), 0.84rem);
  --step--1: clamp(0.94rem, calc(0.95rem + -0.01vw), 0.94rem);
  --step-0: clamp(1.06rem, calc(1.03rem + 0.19vw), 1.25rem);
  --step-1: clamp(1.2rem, calc(1.1rem + 0.47vw), 1.67rem);
  --step-2: clamp(1.35rem, calc(1.17rem + 0.88vw), 2.22rem);
  --step-3: clamp(1.51rem, calc(1.22rem + 1.45vw), 2.96rem);
  --step-4: clamp(1.7rem, calc(1.25rem + 2.25vw), 3.95rem);
  --step-5: clamp(1.91rem, calc(1.25rem + 3.35vw), 5.26rem);
  --step-6: clamp(2.15rem, calc(1.18rem + 4.86vw), 7.01rem);
  --swiper-navigation-size: 30px;
}

/* ********** Reset Styles********** */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

body {
  overflow: hidden;
  margin: 0;
}

/* Prueba */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 995;
  width: 300px;
  /* background-color: red; */
  /* pointer-events: none; */
}

.pointer-none {
  pointer-events: none;
}

.button-menu {
  z-index: 999;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: var(--step-6);
}

h2 {
  font-size: var(--step-5);
}

h3 {
  font-size: var(--step-4);
}

h4 {
  font-size: var(--step-1);
}

/* ********** Utilities ********** */
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 0 20px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #000;
}

.d-none {
  display: none;
}

button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
  z-index: 999;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* ***** Loader ***** */
.modal {
  background-color: rgba(34, 34, 34, 0.346);
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  transition: opacity 0.3s ease;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-loader {
  background-color: #fff;
  text-align: center;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.37);
}

.content-loader h4 {
  margin: 0;
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}

.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #bb1616;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #bb1616;
}

.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

/* ***** Message ***** */
.message {
  max-width: 400px;
  color: #fff;
  background-color: #bb1616;
  padding: 1.2rem;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.37);
}

.message h4 {
  margin: 0;
}

.message i {
  font-size: 2.5rem;
}

.modal-transparent {
  background-color: transparent;
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  transition: opacity 0.3s ease;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  padding: 0 1rem;
}
